<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить читателя</title>
</head>
<body>
<h1>Добавить читателя</h1>
<form th:action="@{/readers/add}" method="post" th:object="${reader}">
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" required><br><br>
    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname" required><br><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>