<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
</head>
<body>
<h1>Список авторов</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Операция</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.name}"></td>
        <td>
            <a th:href="@{/authors/{id}(id=${author.id})}">Подробнее</a>
            <a th:href="@{/authors/delete/{id}(id=${author.id})}">Удалить</a>
        </td>
    </tr>
</table>

<a href="/authors/add">Добавить автора</a>

</body>
</html>