<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<h1>Информация о книге</h1>

<p><b>ID:</b>  <span th:text="${book.id}"></span></p>
<p><b>Название:</b> <span th:text="${book.title}"></span></p>

<p><b>Авторы:</b></p>
<div th:each="author : ${book.authors}">
    <p th:text="${author.name}"></p>
</div>

<p><b>Жанры:</b></p>
<div th:each="genre : ${book.genres}">
    <p th:text="${genre.name}"></p>
</div>



<a href="/books">Вернуться к списку книг</a>

</body>
</html>